@model Assignment.Models.UploadIndexViewModel
@{
    ViewBag.Title = "Upload submissions";
}

<h2>Upload submissions</h2>

@foreach (var course in Model.Courses)
{
    if (course.IsAdmin)
    {
        <a class="btn btn-default pull-right" href="@Url.Action("Assignments", "AdminCourse", new { id = course.ID })">Edit</a>
    }
    <h3>@course.Name</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-md-2"></th>
                <th>Assignment</th>
                <th>Open from</th>
                <th>Due date <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var a in course.Assignments)
            {
                <tr>
                    <td class="col-md-2">
                        @if (a.AllowAdminUpload)
                    {
                            <a class="btn btn-warning" href="@Url.Action("ViewAssignment", new { id = a.ID })">View</a>
                        }
                        else if (a.IsActive)
                        {
                            <a class="btn btn-primary" href="@Url.Action("ViewAssignment", new { id = a.ID })">View &amp; Upload</a>
                        }
                        else
                        {
                            <a class="btn btn-default" href="@Url.Action("ViewAssignment", new { id = a.ID })">View</a>
                        }
                    </td>
                    <td>@a.Name</td>
                    <td>@a.OpenFrom</td>
                    <td>@a.DueDate</td>
                </tr>
            }
        </tbody>
    </table>
}

@if(!Model.Courses.Any())
{
    <div class="alert alert-info">No courses available yet.</div>
}