@model Assignment.Models.ViewAssignmentViewModel
@using MvcFileUploader.HtmlHelper
@using MvcFileUploader.Models


@{
    ViewBag.Title = "View Assignment for " + @Model.Course.Name + ", " + @Model.Assignment.Name;
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-6">
        <h3>Assignment</h3>
        <label>Open from</label>
        <p>@Model.Assignment.OpenFrom</p>
        <label>Open until</label>
        <p>@Model.Assignment.DueDate</p>
        <label>Notes</label>
        <p class="text-multiline">@Model.Assignment.Notes</p>
    </div>
    <div class="col-md-6">
        @if (Model.Assignment.HasFiles)
        {
            <h3>
                @if (Model.Assignment.AllowAdminView) { <span class="glyphicon glyphicon-education" aria-hidden="true" title="Files only seen by Admin"></span> } Files
            </h3>
            if (Model.Assignment.AllowAdminView)
            {
                <p class="alert alert-info">Files can only be seen by Admin. The assignment is currently not open.</p>
            }
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var si in Model.Assignment.CurrentFileContent)
                    {
                        <tr>
                            <td>@si.FilePath</td>
                            <td><a class="btn btn-default" href="@Url.Action("DownloadAssignment", new { id = Model.Assignment.ID, file = si.FilePath })">Download</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <a class="btn btn-success" href="@Url.Action("DownloadAssignment", new { id = Model.Assignment.ID })">Download</a>
        }    
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-6">
        <h3>My submission</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Name <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var si in Model.CurrentContent)
                {
                    <tr>
                        <td>
                            @if (si.Added)
                            { <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> }
                            @if (si.Deleting)
                            { <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> }
                            @if (si.Modified)
                            { <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> }
                        </td>
                        <td>@si.FilePath</td>
                    </tr>
                }
            </tbody>
        </table>
        @if (Model.UnCommitedChanges)
        {
            <br />
            <div class="alert alert-danger">Warning! Uncommited changes found! Go to the upload page, add a message and commit your changes.</div>
        }
        @if (Model.Assignment.IsActive)
        {
            <a class="btn btn-primary" href="@Url.Action("Assignment", new { id = Model.Assignment.ID })">Upload</a>
        }
        @if (Model.Assignment.AllowAdminUpload)
        {
            <a class="btn btn-warning" href="@Url.Action("Assignment", new { id = Model.Assignment.ID })">Upload</a>
        }
        <a class="btn btn-default" href="@Url.Action("DownloadSubmission", new { id = Model.Assignment.ID })">Download</a>
        <a class="btn btn-default" href="@Url.Action("Index")">Back</a>
    </div>
    <div class="col-md-6">
        <h3>History</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Timestamp <span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span></th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var si in Model.Commits)
                {
                    <tr>
                        <td>@si.Timestamp</td>
                        <td>@si.Message</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
