@model Assignment.Models.CourseViewModel

@Html.ValidationSummary(true)
@Html.SuccessMessage(Model.SuccessMessage)
@Html.HiddenFor(model => model.ID)

<div class="form-group">
    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-4">
        <div class="checkbox">
            @Html.EditorFor(model => model.IsActive)
            @Html.ValidationMessageFor(model => model.IsActive)
        </div>
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.SubmissionType, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-4">
        @Html.DropDownListFor(model => model.SubmissionType, Model.SubmissionTypes, "-- Please select --", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.SubmissionType)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-4">
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "{Program}-{Semester}-{Course}" } })
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <div class="col-md-6">
        <p class="text-info">Suggested format: {Program}-{Semester}-{Course}. E.g. BIF-SS16-SWE2</p>
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-4">
        @Html.TextAreaFor(model => model.Notes, 8, 80, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Notes)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.UserUIDs, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-4">
        @Html.TextAreaFor(model => model.UserUIDs, 20, 80, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.UserUIDs)
    </div>
    <div class="col-md-6">
        <p class="text-info">A list of UIDs of users, that are allowed to submit a submission. One line per UID. If left blank, no one may upload a submission.</p>
    </div>
</div>