@model Assignment.Models.CourseViewModel

@{
    ViewBag.Title = "Group works of Course " + Model.Name;
}

<h2>Group works of Course  @Model.Name</h2>

<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-md-2"></th>
                <th>Course</th>
                <th>Group Owner <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span></th>
                <th>Group Name</th>
                <th># Member</th>
                <th>Created on</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var grp in Model.GroupWorks)
            {
                <tr>
                    <td class="col-md-2">
                        <a class="btn btn-primary" href="@Url.Action("Manage", "GroupWork", new { id = grp.ID })">Manage</a>
                    </td>
                    <td>@grp.Course</td>
                    <td>@grp.OwnerUID</td>
                    <td>@grp.Name</td>
                    <td>@grp.GroupWorkMembersCount</td>
                    <td>@grp.CreatedOn</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row">
    <div class="pull-right">@Model.GroupWorks.Count()  Groups</div>
</div>

<h3>As yaml for jenkins</h3>
<pre>@Model.GroupWorksAsYaml</pre>
