@model Assignment.Models.CourseIndexViewModel

@{
    ViewBag.Title = "All Courses";
}

<h2>All Courses</h2>
@if (Model.ShowWithInactiveLink)
{
    <a class="btn btn-default" href="@Url.Action("Index", new { withInactive = true })">Show inactive</a>
}
@if (Model.ShowOnlyActiveLink)
{
    <a class="btn btn-default" href="@Url.Action("Index")">Show only active</a>
}
<table class="table table-striped">
    <thead>
        <tr>
            <th class="col-md-4"></th>
            <th>
                Name <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
            </th>
            <th>
                Sub. Type
            </th>
            <th>
                Is Active
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Courses)
        {
            <tr class="@(!item.IsActive ? "inactive" : "")">
                <td>
                    <a class="btn btn-primary" href="@Url.Action("Edit", new { id = item.ID })">Edit</a>
                    <a class="btn btn-default" href="@Url.Action("GroupWorks", new { id = item.ID })">Group Works</a>
                    <a class="btn btn-default" href="@Url.Action("Assignments", new { id = item.ID })">Assignments</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubmissionType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a class="btn btn-primary" href="@Url.Action("Create")">Create new</a>
    <a class="btn btn-default" href="@Url.Action("Index", "Admin")">Back</a>
</p>
