@model Assignment.Models.SummaryViewModel
@{
    ViewBag.Title = "Summary";
}

<h2>Summary</h2>

<h3>Group work</h3>
@if (Model.ShowGroupWorks)
{ 
<table class="table table-striped">
    <thead>
        <tr>
            <td>Course</td>
            <td>Group Owner</td>
            <td>Group Name</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var grp in Model.GroupWorks)
        {
            <tr>
                <td>@grp.Course</td>
                <td>@grp.OwnerUID</td>
                <td>@grp.Name</td>
            </tr>
        }
    </tbody>
</table>
}
else
{
    <div class="alert alert-info">You didn't joined or created any group yet.</div>
}
<p><a class="btn btn-default" href="@Url.Action("Index", "GroupWork")">Manage groups &raquo;</a></p>

<h3>Upload submissions</h3>
<div class="alert alert-info">If you have to upload your submission, you can do it here.</div>
<p><a class="btn btn-default" href="@Url.Action("Index", "Upload")">Upload &raquo;</a></p>
